.pytest_cache/
__pycache__/
.env
.coverage
.vscode/
out/*
!out/.gitkeep
!out/tests/
out/tests/*
!out/tests/.gitkeep
config.aws.tfbackend
.terraform
.terraform.lock.hcl
!out/packages/
out/packages/*
!out/packages/.gitkeep
!out/packages/python/
out/packages/python/*
!out/packages/python/.gitkeep

